*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
}

.home-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

body,
p,
a,
ul,
li {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: rgba(34, 37, 46, 0.8);
}

.paragraph-text {
  line-height: 1.38;
  font-weight: bolder;
}

.paragraph-text-light {
  color: #6b728e;
  font-weight: 700;
}

.paragraph-text-italic {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-weight: bold;
  color: #22252e;
}

.title-secondary {
  font-family: "Kurale", serif;
  font-style: italic;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.25;
  color: #22252e;
}

.heading-title {
  font-weight: bolder;
  color: #22252e;
}

.title-shadow::before {
  font-size: 50px;
  font-weight: 900;
  line-height: 0.74;
}

.button {
  color: #fff;
}
.button__blue {
  font-size: 20px;
  font-weight: 700;
}

.header {
  color: #fff;
}

.hero__title {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: bolder;
  line-height: 1.25;
  letter-spacing: -1px;
  color: #fff;
}
.hero__text {
  margin: 32px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}
.hero .button__header {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.47px;
}
.hero .button__header--first {
  color: #22252e;
}
.hero .button__header--second {
  color: #fff;
}

.services__paragraph-text-light {
  color: rgba(107, 114, 142, 0.8);
}
.services .card__heading-subtitle-span {
  font-size: 16px;
  font-weight: bolder;
}
.services .card__heading-subtitle-span--blue {
  color: #317ade;
}
.services .card__heading-subtitle-span--red {
  color: #ed701d;
}
.services .card__heading-subtitle-span--green {
  color: #1ebf73;
}
.services .card__heading-title {
  font-size: 20px;
  font-weight: bolder;
  color: #22252e;
}

.blog__card-title {
  font-size: 28px;
  font-weight: bolder;
}
.blog__card-title--first {
  word-break: break-word;
  white-space: pre-line;
}
.blog__card-link {
  font-weight: bolder;
  text-decoration: underline;
  line-height: 1.38;
  color: #22252e;
}

.testimonials__paragraph-text-light,
.testimonials .arrow-btn {
  font-size: 20px;
}
.testimonials__paragraph-text-light {
  padding-right: 50px;
  font-weight: 600;
}
.testimonials .arrow-btn--right {
  color: #317ade;
}
.testimonials .carousel__heading-title {
  font-size: 24px;
}
.testimonials .carousel__heading-subtitle {
  color: #6b728e;
  font-weight: bolder;
}
.testimonials .carousel__paragraph-text-italic {
  font-size: 20px;
}

.hire-us .trustedby__heading-title {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #6b728e;
  font-size: 16px;
}
.hire-us__paragraph-text-light {
  font-size: 16px;
  line-height: 1.38;
}

.positions__title-secondary {
  margin-bottom: 50px;
  padding-top: 131px;
}
.positions__heading-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 0.95;
  margin-bottom: 16px;
}
.positions__text-content {
  font-size: 18px;
  margin-bottom: 24px;
  color: rgba(107, 114, 142, 0.8);
}
.positions .button__blue--arrow {
  font-size: 20px;
}
.positions .button__blue--black {
  font-size: 20px;
  color: #f8f8f8;
}

.experience {
  color: #fff;
  font-size: 32px;
}
.experience__title-secondary {
  color: #f9fafe;
  margin-bottom: 50px;
}

.info .info-text {
  font-size: 40px;
  text-decoration: underline;
  color: black;
}

.footer__heading-title {
  color: #fff;
  font-size: 20px;
}
.footer p,
.footer a,
.footer ul,
.footer li,
.footer span {
  color: rgba(255, 255, 255, 0.5);
}
.footer i {
  font-size: 20px;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .paragraph-text,
.paragraph-text-light {
    font-size: 20px;
    font-weight: 600;
  }
  .title-secondary,
.title-shadow::before {
    font-size: 90px;
  }
  .heading-title {
    font-size: 24px;
  }
  .hero h1 {
    font-size: 80px;
  }
  .hero__text {
    font-size: 22px;
    line-height: 1.55;
  }
  .services .card {
    font-weight: 500;
  }
  .services .card__heading-subtitle-span {
    font-size: 18px;
  }
  .services .card__heading-title {
    font-size: 24px;
  }
  .experience__title-secondary {
    font-size: 60px;
  }
  .info__title-secondary,
.info .title-shadow::before {
    font-size: 48px;
  }
  .footer__heading-title {
    font-size: 20px;
  }
}
.button {
  height: 50px;
  border-radius: 150px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__blue {
  padding: 12px 33px;
  background-color: #317ade;
}

.footer {
  width: 100%;
  overflow: hidden;
}
.footer__container {
  width: 100%;
  padding: 50px 16px 0;
  width: 100%;
  background-color: #1a1a1a;
}
.footer__logo-box {
  width: 100%;
  margin-bottom: 50px;
}
.footer__logo-box img {
  height: 35px;
}
.footer__text-box {
  margin-bottom: 48px;
}
.footer__social {
  width: 100%;
}
.footer__list-social {
  width: 100%;
  margin-bottom: 50px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.footer__link-social {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link-social i {
  transform: translateX(3px);
}

.footer__heading-title {
  margin-bottom: 24px;
}
.footer__navigation, .footer__contact {
  margin-bottom: 50px;
}
.footer__nav-list, .footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contact-list .contact-info-link {
  margin-bottom: 10px;
}

.footer__bottom {
  width: 100%;
  height: 80px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* breakpoint 1024px */
@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 100px;
  }
  .footer__flex-wrap {
    display: flex;
  }
  .footer__social {
    flex: 0 1 60%;
  }
  .footer__content {
    flex: 0 1 40%;
    display: flex;
    justify-content: space-between;
  }
}
/* breakpoint 1660px */
@media screen and (min-width: 1660px) {
  .footer__container {
    padding-left: 245px;
    padding-right: 245px;
  }
}
.header {
  width: 100%;
  height: 100px;
  background-color: transparent;
}
.header__container {
  width: 100%;
  height: inherit;
  padding: 50px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 98px;
  height: 35px;
}
.header__logo .logo {
  width: inherit;
  height: inherit;
}

.hero {
  width: 100%;
  height: 1113px;
  background-image: url(../../assets/images/hero-bg.png);
  background-size: cover;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -100;
}
.hero .hero-desktop {
  display: none;
}
.hero__container {
  width: 100%;
  height: inherit;
  position: relative;
}
.hero__text-box {
  height: auto;
  padding: 250px 16px 0;
}
.hero__button-box {
  width: 100%;
  padding: 0 16px;
}
.hero__button-box__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__button-box .button__header {
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
  padding: 16px 32px;
}
.hero__button-box .button__header--first {
  background-color: #fff;
}
.hero__button-box .button__header--second {
  background-color: #393939;
}
.hero__images {
  width: 100%;
  height: 450px;
  background: url(../../assets/images/grid-elem.png) no-repeat left top;
  background-size: cover;
  position: relative;
}
.hero__img-content-bg {
  width: 100%;
  height: 450px;
  position: relative;
}
.hero__img-content-bg .composition-bg__img--p1 {
  width: 450px;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 20;
  object-fit: cover;
}
.hero__img-content {
  width: 100%;
  height: 450px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}
.hero__img-content .composition {
  height: inherit;
  position: relative;
}
.hero__img-content .composition .composition__img--p1 {
  width: 450px;
  position: absolute;
  top: 25%;
  right: -23%;
  object-fit: cover;
}
.hero__img-content .composition .composition__img--p2 {
  width: 70px;
  position: absolute;
  top: 75%;
  right: 62%;
  object-fit: cover;
}
.hero__img-content .composition .composition__img--p3 {
  width: 60px;
  position: absolute;
  top: 67%;
  right: -4%;
  object-fit: cover;
}
.hero__img-content .composition .composition__img--p4 {
  width: 50px;
  position: absolute;
  top: 35%;
  right: 50%;
  object-fit: cover;
}

.campanies {
  margin-top: 1000px;
  width: 100%;
}
.campanies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.campanies__container img {
  width: 200px;
  padding: 10px;
}

.about {
  padding: 70px 16px 100px;
}
.about__image--first {
  display: none;
}
.about__title-secondary {
  margin-bottom: 50px;
}
.about__text-box {
  margin-bottom: 37px;
}
.about__paragraph-text {
  margin-bottom: 50px;
}
.about__images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services {
  padding: 100px 16px 50px;
}
.services__title-secondary {
  margin-bottom: 32px;
}
.services__link {
  display: block;
  width: auto;
}
.services .button__blue {
  margin: 24px 0;
}
.services .card-box {
  margin-top: 50px;
}
.services .card:not(:last-child) {
  margin-bottom: 40px;
}
.services .card__heading-subtitle {
  margin-bottom: 10px;
}
.services .card__heading-title {
  margin-bottom: 16px;
}
.services .card__icons {
  width: 100%;
  display: inline-flex;
  gap: 10px;
  margin: 20px 0;
}
.services .card .icon {
  width: 40px;
  height: 40px;
}
.services .card__image-content {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services .card__image .image-first {
  width: 160px;
  height: 250px;
}
.services .card__image .image-second {
  width: 275px;
  height: 250px;
}
.services .card__image .image-third {
  width: 250px;
  height: 310px;
}

.blog__title-secondary {
  margin-bottom: 32px;
}
.blog .button__blue {
  margin-bottom: 100px;
}
.blog__card-box {
  margin-bottom: 12px;
}
.blog__card-image {
  display: block;
  margin-bottom: 32px;
}
.blog img {
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.blog__card-title {
  margin-bottom: 24px;
}
.blog__card-link {
  margin: 0 7.3px 0 0;
}

.testimonials {
  padding: 50px 16px;
  overflow: hidden;
}
.testimonials .testimonials-desktop {
  display: none;
}
.testimonials__title-secondary {
  margin-bottom: 24px;
}
.testimonials__paragraph-text-light {
  margin-bottom: 50px;
}
.testimonials__carousel {
  width: 100%;
}
.testimonials .carousel__item-box:not(:first-child) {
  display: none;
}
.testimonials .carousel__list {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.testimonials .carousel__list img {
  width: 80px;
  height: 80px;
}
.testimonials .carousel__list .active {
  width: 129.6px;
  height: 129.6px;
}
.testimonials .carousel__heading-subtitle {
  margin-bottom: 32px;
}
.testimonials .carousel .buttons-box {
  position: absolute;
  top: 0;
  right: 5%;
  display: flex;
  justify-content: flex-end;
}
.testimonials .arrow-btn {
  width: 40px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.hire-us .projects {
  padding: 100px 16px;
}
.hire-us .title-shadow {
  position: relative;
}
.hire-us .title-shadow::before {
  content: "Need our help?";
  position: absolute;
  top: -15px;
  opacity: 0.1;
}
.hire-us__title-secondary {
  margin-bottom: 32px;
}
.hire-us .button__blue {
  margin: 32px 0 50px 0;
}
.hire-us .trustedby {
  height: 216px;
  padding: 50px 0;
  background-color: #f9fafe;
  overflow: hidden;
}
.hire-us .trustedby__container {
  width: 100%;
}
.hire-us .trustedby__heading-title {
  text-align: center;
  margin-bottom: 50px;
}
.hire-us .trustedby__image-box {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.hire-us .trustedby__image-box img {
  height: 50px;
}

.positions {
  padding: 136px 16px 100px;
}
.positions__cards-container {
  width: 100%;
  margin: 0 auto 16px auto;
}
.positions .title-shadow {
  position: relative;
}
.positions .title-shadow::before {
  content: "Open positions";
  position: absolute;
  top: -50px;
  opacity: 0.1;
}
.positions__title-secondary {
  padding: 0;
}
.positions__card {
  margin-bottom: 16px;
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 16px 24px -16px rgba(0, 0, 0, 0.08), 0 8px 24px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.positions .button__blue--black {
  background-color: black;
  margin: 50px auto;
  padding: 16px 32px;
}

.gallery {
  padding: 100px 16px;
}
.gallery .gallery-desktop {
  display: none;
}
.gallery__image {
  width: 100%;
}
.gallery__image:not(:nth-child(5)) {
  margin-bottom: 40px;
}
.gallery__image--third, .gallery__image--sixth {
  display: none;
}

.experience {
  height: 750px;
}
.experience__container {
  padding-top: 100px;
  padding-bottom: 60px;
}
.experience .section-title {
  width: 50%;
}
.experience__text-box {
  padding-left: 16px;
}
.experience__marquee {
  padding: 10px;
  margin-bottom: 60px;
  overflow-x: hidden;
}
.experience__marquee-content {
  white-space: nowrap;
  opacity: 0.63;
}
.experience__marquee-content--first, .experience__marquee-content--third {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.experience__marquee-content--second, .experience__marquee-content--fourth {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}
.experience__marquee-content .tool {
  display: inline-block;
  height: 32px;
}
.experience .tool {
  display: inline-block;
}

.info__container {
  width: 100%;
  padding: 182px 16px 100px;
  display: flex;
  flex-direction: column;
}
.info__text-box {
  margin-bottom: 32px;
}
.info .title-shadow {
  position: relative;
}
.info .title-shadow::before {
  content: "Are you ready?";
  position: absolute;
  top: -75px;
  line-height: 1.1;
  opacity: 0.1;
}
.info__title-secondary {
  margin-bottom: 50px;
}
.info img {
  width: 330px;
}

.navigation {
  width: 24px;
  height: 21px;
}
.navigation__button {
  width: inherit;
  height: inherit;
  all: unset;
  display: flex;
  justify-content: center;
}
.navigation__icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #fff;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -5px;
}
.navigation__icon::after {
  top: 5px;
}

/* breakpoint 1660px */
@media screen and (min-width: 1660px) {
  .navigation {
    position: fixed;
    top: 50%;
    left: 16px;
    z-index: 100;
  }
  .navigation__button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    transform: translatex(-80px);
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: black;
    width: 20px;
  }
  .navigation::after {
    display: block;
    position: absolute;
    top: 40px;
    left: 5px;
    transform: rotate(-90deg);
    color: black;
    content: "MENU";
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}
/* breakpoint 768px */
@media screen and (min-width: 768px) {
  .hero {
    height: 650px;
  }
  .hero__container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
  }
  .hero__button-box {
    display: flex;
    gap: 20px;
  }
  .hero__link {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .hero__images {
    height: 650px;
  }
  .hero__img-content-bg {
    height: 650px;
  }
  .hero__img-content-bg .composition-bg__img--p1 {
    top: 57%;
  }
  .hero__img-content {
    height: inherit;
    top: 25%;
  }
  .campanies__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hire-us__paragraph-text-light {
    width: 70%;
  }
  .positions .title-shadow::before {
    top: -30px;
  }
  .positions__card {
    width: 100%;
    margin-bottom: 32px;
    padding: 50px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .positions__heading-title {
    flex: 0 1 75%;
  }
  .positions__link {
    flex: 0 1 25%;
  }
  .info .title-shadow::before {
    content: "Are you ready?";
    position: absolute;
    top: -25px;
    line-height: 1.1;
    opacity: 0.1;
  }
  .info__text-box {
    width: 70%;
  }
  .info__content {
    display: flex;
    flex-direction: row;
  }
  .info__image-box {
    width: 100%;
    position: relative;
  }
  .info__image-box img {
    position: absolute;
    top: -150px;
    left: 10%;
  }
}
/* breakpoint 1024px */
@media screen and (min-width: 1024px) {
  .hero {
    height: 800px;
  }
  .hero__images {
    height: 800px;
  }
  .hero__img-content-bg {
    height: 800px;
  }
  .hero .composition-bg__img--p1 {
    width: 600px;
    right: -10px;
    top: 53%;
  }
  .hero__img-content .composition__img--p1 {
    width: 600px;
    left: 100px;
  }
  .campanies__image {
    flex: 0 1 20%;
    transform: scale(0.7);
  }
  .about .text-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }
  .about__image {
    width: 100%;
  }
  .about__image .home-img {
    object-fit: cover;
  }
  .about__image--first {
    display: block;
    padding-bottom: 100px;
    width: 80%;
  }
  .about__image--second {
    width: 512px;
    display: flex;
    align-items: center;
  }
  .about__text-box {
    display: flex;
    gap: 50px;
  }
  .about .section-title {
    flex: 0 1 25%;
  }
  .about__text-content {
    flex: 0 1 60%;
  }
  .about__text-content--first {
    display: flex;
    align-items: flex-end;
  }
  .about__text-content--second {
    display: flex;
    flex-direction: column;
  }
  .services {
    width: 100%;
    padding-bottom: 100px;
  }
  .services__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .services__text-box {
    flex: 0 1 50%;
  }
  .services .card-box {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  .services .card {
    flex: 0 1 33.333%;
  }
  .services .card__heading-subtitle {
    height: 50px;
    margin-bottom: 10px;
  }
  .services .card__heading-title {
    height: 120px;
    margin-bottom: 10px;
  }
  .testimonials {
    width: 100%;
    height: 100%;
  }
  .hire-us {
    margin: 0;
    padding-bottom: 80px;
  }
  .hire-us .title-shadow::before {
    top: -30px;
  }
  .hire-us__paragraph-text-light {
    width: 50%;
  }
  .hire-us .button__blue {
    display: none;
  }
  .positions {
    margin-top: -80px;
  }
  .positions .title-shadow::before {
    top: -30px;
  }
  .positions__link {
    display: flex;
    justify-content: flex-end;
  }
  .info__container {
    padding-top: 140px;
  }
  .info img {
    width: 470px;
    left: 30%;
  }
}
/* breakpoint 1366px */
@media screen and (min-width: 1366px) {
  .hire-us {
    margin-top: 0 !important;
  }
  .hire-us__container {
    width: 100%;
    height: 786px;
    display: flex;
    flex-direction: row;
  }
  .hire-us .trustedby__container,
.hire-us .trustedby__image-box {
    display: flex;
    flex-direction: column;
  }
  .hire-us .projects {
    padding-top: 160px;
    flex: 0 1 70%;
  }
  .hire-us .trustedby {
    height: inherit;
    flex: 0 1 30%;
  }
  .hire-us .trustedby__image-box {
    height: 700px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
  }
  .hire-us .trustedby__image img {
    transform: scale(1.8);
  }
}
/* breakpoint 1660px */
@media screen and (min-width: 1660px) {
  .header {
    padding-left: 245px;
  }
  .hero {
    width: 100%;
    height: 1029px;
    background: url(./assets/images/hero-bg.png) no-repeat left top, url(./assets/images/grid-elem.png) no-repeat left top;
    background-size: cover, cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    padding-left: 245px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
  }
  .hero .hero-mobile {
    display: none;
  }
  .hero .hero-desktop {
    display: block;
  }
  .hero__container {
    max-width: 1660px;
    height: 1029px;
    background-color: transparent;
    position: relative;
  }
  .hero__text-content {
    width: 60%;
  }
  .hero__img-content-bg {
    height: 1029;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .hero__img-content-bg .composition-bg {
    width: 100%;
    height: 1029px;
    position: relative;
  }
  .hero__img-content-bg .composition-bg__img--p1 {
    width: 100%;
    position: absolute;
    right: 0;
    top: 5px;
  }
  .hero__img-content-bg .composition-bg__img--p2 {
    position: absolute;
    top: 0;
    right: 200px;
  }
  .hero__images {
    width: 100%;
    height: 1029px;
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid red;
  }
  .hero__img-content {
    width: 100%;
    height: 1029px;
    border: 3px solid rgb(195, 0, 255);
  }
  .hero .composition {
    width: 100%;
    height: 1029px;
    transform: translateX(10%);
    position: relative;
    border: 3px solid rgb(0, 26, 255);
  }
  .hero .composition__img--p1 {
    width: 1000px !important;
    position: absolute;
    top: 0 !important;
    left: 700px !important;
  }
  .hero .composition__img--p4 {
    position: absolute;
    top: 108px;
    left: 0;
  }
  .hero .composition__img--p2 {
    width: 176px !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  .hero .composition__img--p3 {
    width: 146px;
    position: absolute;
    top: 600px;
    left: 0;
  }
  .campanies {
    padding-left: 245px;
    padding-right: 245px;
  }
  .campanies img {
    transform: scale(1.5);
  }
  .about {
    padding-left: 245px;
    overflow: hidden;
  }
  .about .home-img--top {
    width: 910px;
  }
  .about .home-img--bottom {
    transform: translateX(5%);
  }
  .services {
    padding-left: 245px;
    padding-right: 245px;
  }
  .testimonials {
    padding-left: 245px;
    padding-right: 245px;
  }
  .testimonials .testimonials-desktop {
    display: block;
  }
  .testimonials .testimonials-mobile {
    display: none;
  }
  .testimonials__paragraph-text-light {
    width: 40%;
  }
  .testimonials__carousel {
    height: 500px;
  }
  .testimonials .carousel-inner {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .testimonials .carousel__list {
    height: 500px;
    flex: 0 1 32%;
    position: relative;
  }
  .testimonials .carousel__timeline {
    height: 100%;
    flex: 0 1 5%;
    position: relative;
  }
  .testimonials .carousel__item-content {
    flex: 0 1 63%;
    display: flex;
    flex-direction: column;
  }
  .testimonials .carousel__list {
    position: relative;
  }
  .testimonials .carousel__item--first {
    position: absolute;
    top: 35%;
    right: 40px;
  }
  .testimonials .carousel__item--second {
    position: absolute;
    top: 10%;
    right: 150px;
  }
  .testimonials .carousel__item--third {
    position: absolute;
    top: 40.2%;
    right: 270px;
  }
  .testimonials .carousel__item--fourth {
    position: absolute;
    top: 70%;
    right: 250px;
  }
  .testimonials .carousel__item--fifth {
    position: absolute;
    top: 80%;
    right: 75px;
  }
  .testimonials .carousel__item-box {
    padding: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .testimonials .carousel__item-box::before, .testimonials .carousel__item-box::after {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #fff;
  }
  .testimonials .carousel__item-box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: url("https://www.badinsoft.com/wp-content/themes/badin-soft-theme/assets/badin-photo/testimonials/home/quote-open.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
  }
  .testimonials .carousel__item-box::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    background: url("https://www.badinsoft.com/wp-content/themes/badin-soft-theme/assets/badin-photo/testimonials/home/quote-close.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
  }
  .testimonials .carousel__item-box::before {
    top: -40px;
  }
  .testimonials .carousel__item-box::after {
    bottom: 100px;
    right: 100px;
  }
  .testimonials .carousel__paragraph-text-italic {
    margin-bottom: 32px;
  }
  .testimonials .carousel .carousel__timeline {
    position: absolute;
    left: 400px;
    top: 100px;
    width: 3px;
    height: 250px;
    background-color: #dae0fe;
    border-radius: 1px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials .carousel .carousel__timeline span {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #f9fafe;
    margin-bottom: 32px;
    border: 2px solid #dae0fe;
  }
  .hire-us .projects {
    padding-left: 245px;
  }
  .hire-us .button__blue {
    display: block;
  }
  .positions {
    padding-left: 245px;
    padding-right: 245px;
  }
  .gallery {
    padding-left: 245px;
    padding-right: 32px;
    padding: 120px 55px 0 77px;
  }
  .gallery .gallery-mobile {
    display: none;
  }
  .gallery .gallery-desktop {
    display: block;
  }
  .gallery__container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .gallery__grid-wrap {
    flex: 0 1 33%;
  }
  .gallery__grid-wrap--first, .gallery__grid-wrap--third {
    transform: translateY(-100px);
  }
  .gallery__grid-wrap--first {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .gallery__grid-wrap--third {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .gallery__grid-wrap img {
    width: 100%;
  }
  .experience {
    height: 500px;
    padding-bottom: 0;
  }
  .experience__marquee:nth-child(3), .experience__marquee:nth-child(4) {
    display: none;
  }
  .experience .section-title {
    width: 100%;
    text-align: center;
  }
  .info {
    padding-left: 245px;
    padding-right: 32px;
  }
}
.hero {
  width: 100%;
}

.campanies {
  width: 100%;
}

.about {
  width: 100%;
}

.services {
  width: 100%;
  background-color: #f9fafe;
}

.blog {
  width: 100%;
}

.testimonials {
  width: 100%;
  background-color: #f9fafe;
}

.hire-us {
  width: 100%;
}

.positions {
  width: 100%;
  background-color: #f9fafe;
}

.gallery {
  width: 100%;
}

.experience {
  width: 100%;
  background-image: linear-gradient(#317ade, #0e3378);
}

.info {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
