//colors
$color-primary: #22252e;
$color-primary-text: rgba(34, 37, 46, 0.8);//#22252e
$color-secondary-text: #6b728e;
$color-secondary-text-light: rgb(107, 114, 142, 0.5); //#6b728e
$color-secondary-text-light-1: rgb(107, 114, 142, 0.8);

$color-background-secondary: #f9fafe;
$color-background-secondary-tertiary-2: #0e3378;

$color-blue: #317ade;
$color-red: #ed701d;
$color-green: #1ebf73;

$color-black: #1a1a1a;
$color-white: #fff;
$color_lightgrey: #f5f5f5;
$color_lightgrey-1: #f8f8f8;
$color-grey-dark-1: rgba(255, 255, 255, 0.5);
$color-grey-dark: rgba(255, 255, 255, 0.15);

//Font
$default-font-size: 1rem;

$font-weight-light: 300;
$font-weight-small: 500;
$font-weight-medium: 600;
$font-weight-strong: 700;
$font-weight-bold: 800;
$font-weight-bolder: 900;

//add font-family
$font-family-primary: futura-pt, "Arial Condensed", sans-serif;
$font-family-secondary: lust, "Courier", serif;

//
$padding-left: 16px;
$padding-right: 16px;
