.header {
  width: 100%;
  height: 100px;
  z-index: 2;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;  

  &__container {
    width: 100%;
    height: inherit;
    padding: 50px $padding-lr;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 98px;
    height: 35px;

    .logo {
      width: inherit;
      height: inherit;
    }
  }
}
