//back to top button
.progress {
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: none;
  place-items: center;
  border: 7px solid $color-black-base;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  z-index: 10;
  cursor: pointer;

  i {
    font-size: 20px;
    color: $color_white;
  }
}

.progress-value {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: $color-black-base;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
}

//hero section
.hero {
  .hero-desktop {
    display: none;
  }

  width: 100%;
  background-color: transparent;
  background: url(../assets/images/grid-elem@2x.png) no-repeat center bottom,
    url(../assets/images/hero-bg.png) no-repeat center right;
  background-size: 150%, cover;

  position: relative;
  top: 0;
  left: 0; 

  &__container {
    width: 100%;
    position: relative;
  }

  .aurora-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      //overflow: hidden;
    }

    .animated-circle {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      position: absolute;
      filter: blur(130px);
      opacity: 0.5;
      transform: rotate(0) translate(200px) rotate(0);
      

      &--one {
        background-color: $color-aurora-circle-one;
        bottom: 100px;
        left: 200px;
        animation: fly1 60s linear infinite both;
      }

      &--two {
        background-color: $color-aurora-circle-two;
        top: -200px;
        left: -200px;
        animation: fly2 60s linear infinite both;
      }

      &--three {
        top: -60px;
        right: 400px;
        background-color: $color-aurora-circle-three;
        animation: fly1 60s linear infinite both;
      }

      &--four {
        bottom: 100px;
        right: 100px;
        background-color: $color-aurora-circle-four;
        animation: fly2 60s linear infinite both;
      }
    }
  }

  &__text-content {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__text-box {
    height: auto;
    padding: 250px $padding-lr 0;
  }

  &__button-box {
    width: 100%;
    padding: 0 $padding-lr;
  }

  &__link {
    width: 100%;
    height: 56px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    .button__header {
      width: 100%;
      height: 56px;
      padding: 16px 32px;

      &--first {
        background-color: $color-white;

        &:hover {
          background-color: $color-grey-hover;
        }
      }

      &--second {
        background-color: $color-grey-dark-2;

        &:hover {
          background-color: $color-black-hover;
        }
      }
    }
  }

  &__images {
    width: 100%;
    transform: translateY(5px);
    position: relative;
  }

  &__img-content-bg {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;

    .composition-bg {
      height: 500px;

      &__img {
        &--p1 {
          width: 100%;
          height: inherit;
          position: absolute;
          right: 0;
          z-index: 2;
          object-fit: cover;
        }
      }
    }
  }

  &__img-content {
    width: 100%;
    z-index: 4;

    position: absolute;
    bottom: 0;

    .composition {
      height: 500px;
      position: relative;

      .composition__img {
        opacity: 0;
        animation: fadeIn 1.5s forwards, moveInRight 1s ease-out;
        &--p1 {
          width: 450px;
          position: absolute;
          top: 30%;
          right: -23%;
          object-fit: cover;
          animation-delay: 0s;
        }

        &--p2 {
          width: 70px;
          position: absolute;
          bottom: 5px;
          right: 260px;
          object-fit: cover;
          animation-delay: 0.5s;
        }

        &--p3 {
          width: 60px;
          position: absolute;
          bottom: 50px;
          right: -4%;
          object-fit: cover;
          animation-delay: 0.7s;
        }

        &--p4 {
          width: 50px;
          position: absolute;
          top: 200px;
          right: 200px;
          object-fit: cover;
          animation-delay: 1s;
        }
      }
    }
  }
}

//campanies section
.campanies {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      padding: 10px;
    }
  }
}

//about section
.about {
  &__container {
    padding: 70px $padding-lr 100px;
  }

  &__image--first {
    display: none;
  }

  &__title-secondary {
    margin-bottom: 50px;
  }

  &__text-box {
    margin-bottom: 37px;
  }

  &__paragraph-text {
    margin-bottom: 50px;
  }

  &__images {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

//services section
.services {
  &__container {
    padding: 100px $padding-lr 50px;
  }

  &__title-secondary {
    margin-bottom: 32px;
  }

  &__link {
    display: block;
    width: auto;
  }

  .button__blue {
    margin: 24px 0;
  }

  .card-box {
    margin-top: 50px;
  }

  .card {
    display: block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__heading-subtitle {
      margin-bottom: 10px;
    }

    &__heading-title {
      margin-bottom: 16px;
    }

    &__icons {
      width: 100%;
      display: inline-flex;
      gap: 10px;
      margin: 20px 0;
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    &__image-content {
      width: 100%;
      margin-top: 15px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__image {
      .image-first {
        width: 160px;
        height: 250px;
      }

      .image-second {
        width: 275px;
        height: 250px;
      }

      .image-third {
        width: 250px;
        height: 310px;
      }
    }
  }
}

// .blog {
//   &__title-secondary {
//     margin-bottom: 32px;
//   }

//   .button__blue {
//     margin-bottom: 100px;
//   }

//   &__card-box {
//     margin-bottom: 12px;
//   }

//   &__card-image {
//     display: block;
//     margin-bottom: 32px;
//   }

//   img {
//     width: 100%;
//     border-radius: 12px;
//     box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px,
//       rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
//   }

//   &__card-title {
//     margin-bottom: 24px;
//   }

//   &__card-link {
//     margin: 0 7.3px 0 0;
//   }
// }

//testimonials section

.testimonials-desktop {
  display: none;
}

.testimonials-mob {
  &__container {
    padding: 50px $padding-lr;
  }

  &__title-secondary {
    margin-bottom: 24px;
  }

  .heading-subtitle {
    margin-bottom: 32px;
  }

  &__paragraph-text-light {
    margin-bottom: 50px;
  }

  &__carousel {
    width: 100%;
  }

  .carousel-mob {
    &-inner {
      position: relative;      
    }

    .buttons-box {
      position: absolute;
      top: -8%;
      right: 3%;

      display: flex;
      justify-content: flex-end;
    }

    &__list {
      margin-bottom: 32px;

      display: flex;
      align-items: flex-end;
      gap: 20px;
    }

    &__item {
      min-width: 80px;
      height: 80px;
      cursor: pointer;      

      &:first-child {
        position: relative;
        bottom: 5px;
      }

      &.activeItem {
        min-width: 80px;
        margin-right: 20px;
        scale: (1.5);
        transform-origin: bottom;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    &__item-content {
      width: 100%;
      //height: 350px;
      //overflow-y: hidden;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;      
    }

    &__item-box {
      flex: 0 1 100%;
      //height: 350px;      
    }
  }

  .arrow-btn {
    width: 40px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

//hire-us section
.hire-us {
  .projects {
    padding: 100px $padding-lr;
  }

  .title-shadow {
    position: relative;
  }

  & .title-shadow::before {
    content: "Need our help?";
    position: absolute;
    top: -15px;
    opacity: 0.1;
  }

  &__title-secondary {
    margin-bottom: 32px;
  }

  .button {
    &__blue {
      margin: 32px 0 50px 0;
    }
  }

  .trustedby-dt {
    display: none;
  }

  .trustedby-mob {
    height: 216px;
    padding: 50px 0;
    background-color: $color-background-secondary;
    overflow: hidden;

    &__container {
      width: 100%;
    }

    &__heading-title {
      text-align: center;
      margin-bottom: 50px;
    }

    &__image-box {
      height: 50px;
      display: flex;
      gap: $trustedby-gap;
    }

    &__marquee-content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      gap: $trustedby-gap;
      animation: scroll 15s linear infinite;

      img {
        height: 50px;
      }
    }
  }
}

//positions section
.positions {
  &__container {
    padding: 100px $padding-lr;
  }
  &__cards-container {
    width: 100%;
    margin: 0 auto 16px auto;
  }

  .title-shadow {
    position: relative;
  }

  & .title-shadow::before {
    content: "Open positions";
    position: absolute;
    top: -50px;
    opacity: 0.1;
  }

  &__title-secondary {
    padding: 0;
  }

  &__card {
    margin-bottom: 16px;
    padding: 24px 16px;
    background-color: $color_white;
    border-radius: 12px;
    box-shadow: 0 16px 24px -16px rgba(0, 0, 0, 0.08),
      0 8px 24px 0 rgba(0, 0, 0, 0.02);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .button__blue--black {
    background-color: $color-black-base;
    margin: 50px auto;
    padding: 16px 32px;
  }
}

//gallery section
.gallery {
  .gallery-desktop {
    display: none;
  }

  &__container {
    padding: 100px $padding-lr;
  }

  &__image {
    width: 100%;

    &:not(:nth-child(5)) {
      margin-bottom: 40px;
    }

    &--third,
    &--sixth {
      display: none;
    }
  }
}

//experience section
.experience {
  width: 100%;
  height: 750px;
  position: relative;

  &__container {
    width: $animation-parent-width;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .section-title {
    width: 50%;
  }

  &__text-box {
    padding-left: 16px;
  }

  &__marquee {
    width: $animation-parent-width;
    padding: 10px;
    margin-bottom: 60px;
    // overflow-x: hidden;
    position: relative;
  }

  &__marquee-content {
    position: absolute;
    white-space: nowrap;
    opacity: 0.65;

    &--first,
    &--third {
      left: 0;
      padding-right: 50px;
      display: flex;      
      flex-direction: row;
      gap: 40px;
      animation: scroll-left 40s linear infinite alternate;
    }

    &--second,
    &--fourth {
      right: 0;
      padding-left: 50px;
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
      animation: scroll-right 40s linear infinite alternate;
    }

    .tool {
      display: inline-block;
      height: 32px;
    }
  }
}

//info section
.info {
  &__container {
    width: 100%;
    padding: 182px $padding-lr 100px;

    display: flex;
    flex-direction: column;
  }

  &__text-box {
    margin-bottom: 32px;
  }

  .title-shadow {
    position: relative;
  }

  & .title-shadow::before {
    content: "Are you ready?";
    position: absolute;
    top: -75px;
    line-height: 1.1;
    opacity: 0.1;
  }

  &__title-secondary {
    margin-bottom: 50px;
  }

  img {
    width: 330px;
  }
}
