.navigation {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &__hamburger-link {
    display: block;
    width: 25px;
    height: 22px;
    position: absolute;
    top: 50px;
    right: 16px;
    z-index: 6;
  }

  &__button {
    width: 24px;
    height: 21px;
    all: unset;

    display: flex;
    justify-content: center;

    &.full-menu {
      padding: 0;
      position: fixed;
      top: 55px;
      right: 0;
      transition: all 0.3s;
    }
  }

  &__button.full-menu &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 24px;
      height: 2px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.2s;
      background-color: var(--pseudoEl, #fff);
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  .logo__container {
    width: 98px;
    height: 35px;
    position: relative;
    top: 31px;
    left: 16px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  .logo {
    width: inherit;
    height: inherit;
  }

  &__modal-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    background-image: radial-gradient(
      circle at 1% 5%,
      $color-blue,
      $color-background-tertiary 92%
    );
    z-index: 4;

    &.open {
      opacity: 1;

      .navigation__navbar {
        width: 20%;
        height: 70vh;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
      }

      .navigation__list {
        height: auto;
        text-align: center;
      }

      .navigation__item {
        display: block;
        width: auto;
        height: calc(100% / 7);
        min-height: 50px;
        color: $color-white;
        opacity: 0;

        animation: fadeIn 2s forwards;
        animation-delay: 0.3s;

        &:nth-of-type(2) {
          animation-delay: 0.6s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.8s;
        }

        &:nth-of-type(4) {
          animation-delay: 1s;
        }

        &:nth-of-type(5) {
          animation-delay: 1.2s;
        }

        &:nth-of-type(6) {
          animation-delay: 1.4s;
        }

        &:nth-of-type(7) {
          animation-delay: 1.6s;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        a {
          font-size: 30px;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    width: auto;
    position: relative;
    color: $color-white;
    text-decoration: none;
    overflow: hidden;
    opacity: 0.7;
    padding-left: 30px;

    &::before {
      display: inline-block;
      content: "";
      width: 0;
      height: 45px;
      background-color: $color-background-tertiary-light;
      position: absolute;
      transform: translateX(-15px);
      z-index: -1;

      transition: width 0.6s ease, height 0.6s ease;
    }

    &--first {
      position: relative;
      &::before {
        display: block;
        content: "";
        width: 40px;
        height: 45px;
        background-color: $color-background-tertiary;
        position: absolute;
        left: 25%;
        z-index: -1;
      }
    }

    &:hover,
    &:active {
      &::before {
        width: 40px;
      }
    }
  }

  &__contact-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    a,
    i {
      color: $color-white;
      opacity: 0.7;
    }
  }
}

/* breakpoint 1660px */
@media screen and (min-width: 1660px) {
  .big-border-overlay.visible {
    width: 100%;
    height: 100vh;
    position: fixed;
    border-left: 112px solid;
    border-top: 50px solid;
    border-bottom: 50px solid;
    border-image: linear-gradient(45deg, #317ade, #0e3378) 1;
    border-right: 0;
    z-index: 6;
    transition: all 0.5s;
  }

  .big-border-overlay.open-shrink {
    width: 100%;
    height: 100vh;
    position: fixed;
    border-left: 1380px solid;
    border-top: 100px solid;
    border-right: 100px solid;
    border-bottom: 100px solid;
    border-image: linear-gradient(45deg, #317ade, #0e3378) 1;
    z-index: 6;
    transition: all 0.5s;
  }

  .navigation {
    .logo__container {
      position: relative;
      top: 31px;
      left: 245px;
    }

    &__hamburger-link {
      display: block;
      width: 70px;
      height: 70px;
      position: fixed;
      left: 60px;
      top: 50%;
      z-index: 10;
      transition: all 0.5s;

      &.closed.hover {
        .navigation__button::after {
          letter-spacing: 7px;
        }

        .navigation__icon {
          position: absolute;
          right: 0;
          width: 48px;
        }

        .navigation__icon::after {
          position: absolute;
          right: 0;
          width: 34px;
        }
      }
    }

    &__button {
      position: absolute;
      top: 25%;
      height: 25px;
      width: 24px;
      color: $color-primary;
      background-color: transparent;

      &::after {
        display: block;
        position: absolute;
        top: 5px;
        left: 30px;
        transform: rotate(-90deg);

        content: "MENU";
        font-size: 1.2rem;
        letter-spacing: 3px;
      }

      &.full-menu {
        padding: 0;
        position: absolute;
        top: 40%;
        left: 100px;
        transition: all 0.3s;

        &::after {
          display: none;
        }
      }

      &__icon,
      &__icon::before,
      &__icon::after {
        background-color: $color-black-base;
        width: 20px;
      }
    }

    &__modal-menu {
      &.open {
        background-image: none;
        z-index: 6;
      }
    }

    &__navbar {
      width: 20%;
      height: 70vh;
      position: absolute;
      top: 20%;
      left: 245px;
      transform: none;
    }

    &__list {
      text-align: left;
    }
  }
}
