.navigation {
 width: 24px;
 height: 21px;    

  &__button{ 
    width: inherit;
    height: inherit;
    all: unset;       
    
    display: flex;
    justify-content: center;
  }

  &__icon {
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &,
    &::before,
    &::after {
      display: inline-block;
      width: 24px;
      height: 3px;
      background-color: $color-white;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -10px;
      //transform-origin: right;
    }

    &::after {
      top: 10px;
    }
  }
}
