/* breakpoint 768px */
@media screen and (min-width: 768px) {
  .hero {
    background-position: left bottom, inherit;
    background-size: 80%, cover;
    height: 880px;

    &__container {
      width: 100%;
      height: inherit;
    }

    &__button-box {
      width: 70%;
      display: flex;
      gap: 20px;
    }

    &__link {
      width: 50%;
      display: flex;
      justify-content: flex-start;
    }

    &__img-content-bg {
      .composition-bg__img--p1 {
        top: clamp(-100px, -100px, -200px);
        right: clamp(-10px, -10px, -50px);
        object-fit: fill;
      }
    }

    &__img-content {
      height: 100%;
      top: 0;
    }
  }

  .composition {
    bottom: clamp(155px, 155px, 250px);
    right: 180px;
  }

  .campanies {
    margin-top: 700px;
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .hire-us {
    &__paragraph-text-light {
      width: 70%;
    }
  }

  .positions {
    & .title-shadow::before {
      top: -30px;
    }

    &__card {
      width: 100%;
      margin-bottom: 32px;
      padding: 50px 40px;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    &__heading-title {
      flex: 0 1 75%;
    }

    &__link {
      flex: 0 1 25%;
    }
  }

  .info {
    & .title-shadow::before {
      content: "Are you ready?";
      position: absolute;
      top: -25px;
      line-height: 1.1;
      opacity: 0.1;
    }

    &__text-box {
      width: 70%;
    }

    &__content {
      display: flex;
      flex-direction: row;
    }

    &__image-box {
      width: 100%;
      position: relative;

      img {
        position: absolute;
        top: -150px;
        left: 10%;
      }
    }
  }
}

/* breakpoint 1024px */

@media screen and (min-width: 1024px) {
  .hero {
    height: 100vh;

    &__images {
      height: 700px;
    }

    &__img-content-bg {
      height: 700px;
    }

    .composition-bg {
      height: 700px;
    }

    .composition-bg__img--p1 {
      top: clamp(20%, 25%, 30%);
      object-fit: fill;
    }

    .composition {
      top: 5%;
      right: 25%;

      &__img {
        transform: scale(150%);
      }
    }
  }

  .campanies {
    margin-top: 950px;

    &__image {
      flex: 0 1 20%;
      transform: scale(0.7);
    }
  }

  .about {
    .text-wrapper {
      width: 100%;
      margin-bottom: 100px;
    }

    &__image {
      width: 100%;

      .home-img {
        object-fit: cover;
      }

      &--first {
        display: block;
        padding-bottom: 100px;
        width: 80%;
      }

      &--second {
        width: 512px;

        display: flex;
        align-items: center;
      }
    }

    &__text-box {
      display: flex;
      gap: 50px;
    }

    .section-title {
      flex: 0 1 25%;
    }

    &__text-content {
      flex: 0 1 60%;

      &--first {
        display: flex;
        align-items: flex-end;
      }

      &--second {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .services {
    width: 100%;
    padding-bottom: 100px;

    &__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__text-box {
      flex: 0 1 50%;
    }

    .card-box {
      margin-top: 60px;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }

    .card {
      flex: 0 1 33.333%;

      &__heading-subtitle {
        height: 50px;
        margin-bottom: 10px;
      }

      &__heading-title {
        height: 120px;
        margin-bottom: 10px;
      }
    }
  }

  .testimonials {
    width: 100%;
    height: 100%;
  }

  .hire-us {
    margin: 0;
    padding-bottom: 80px;

    .title-shadow::before {
      top: -30px;
    }

    &__paragraph-text-light {
      width: 50%;
    }

    .button__blue {
      display: none;
    }
  }

  .positions {
    margin-top: -80px;

    .title-shadow::before {
      top: -30px;
    }

    &__link {
      display: flex;
      justify-content: flex-end;
    }
  }

  .info {
    &__container {
      padding-top: 140px;
    }

    img {
      width: 470px;
      left: 30%;
    }
  }
}

/* breakpoint 1366px */
@media screen and (min-width: 1366px) {
  .hire-us {
    margin-top: 0 !important;

    &__container {
      width: 100%;
      height: 786px;

      display: flex;
      flex-direction: row;
    }

    .trustedby__container,
    .trustedby__image-box {
      display: flex;
      flex-direction: column;
    }

    .projects {
      padding-top: 160px;
      flex: 0 1 70%;
    }
    .trustedby {
      height: inherit;
      flex: 0 1 30%;

      &__image-box {
        height: 700px;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 80px;
      }

      &__image {
        img {
          transform: scale(1.8);
        }
      }
    }
  }
}

/* breakpoint 1660px */
@media screen and (min-width: 1660px) {
  .header__container {
    padding-left: 245px;
  }

  .hero {
    .hero-mobile {
      display: none;
    }
    width: 100%;
    height: 1125px;
    background: url(../assets/images/grid-elem@2x.png) no-repeat center center,
      url(../assets/images/hero-bg.png) no-repeat;
    background-size: 50%, cover;

    .hero-desktop {
      display: block;
      width: 100%;
      height: 1029px;
      overflow: hidden;

      background-size: 50%;

      .hero-dt {
        width: 100vw;
        height: 1029px;

        &__text-content {
          width: 100%;
          padding: 250px 245px 0;
        }

        &__text {
          width: 470px;
          margin: 50px 0;
        }

        &__button-box {
          width: 40%;

          display: flex;
          gap: 10px;
        }

        &__link {
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        .button__header {
          width: 100%;
          height: 56px;
          margin-bottom: 20px;
          padding: 16px 32px;

          &--first {
            background-color: $color-white;
          }

          &--second {
            background-color: $color-grey-dark-2;
          }
        }

        &__img-content-bg {
          width: 100%;
          height: 100%;

          position: absolute;
          top: 0;
          left: 0;

          .composition-bg {
            width: 100%;
            height: 1029px;
            position: relative;

            &__img--p1 {
              width: 100%;
              position: absolute;
              top: 100px;
              right: 0;
            }

            &__img--p2 {
              position: absolute;
              top: 100px;
              right: 200px;
            }
          }
        }

        &__images {
          width: 100%;
          height: 1029px;
          position: absolute;
          top: 0;
          right: 0;
        }

        .composition {
          width: 100%;
          height: 100%;
          transform: translate(83%, 30%);
          position: relative;

          &__img {
            transform: scale(1);
            opacity: 0;
            animation: fadeIn 1.5s forwards, moveInRight 1s ease-out;
          }

          &__img--p1 {
            width: 843px;
            position: absolute;
            top: 50px;
            left: 0;
            animation-delay: 0s;
          }

          &__img--p2 {
            width: 176px;
            position: absolute;
            top: 470px;
            left: -60px;
            animation-delay: 0.5s;
          }

          &__img--p3 {
            width: 145px;
            position: absolute;
            top: 380px;
            left: 570px;
            animation-delay: 0.5;
          }

          &__img--p4 {
            width: 106px;
            position: absolute;
            top: -150px;
            left: 400px;
            animation-delay: 1s;
          }
        }
      }
    }
  }

  .campanies {
    margin: 1000px 245px 0 245px;

    &__container {
      width: 1350px;
    }

    img {
      transform: scale(1.5);
    }
  }

  .about {
    padding-left: 245px;
    overflow: hidden;

    .home-img--top {
      width: 910px;
    }
    .home-img--bottom {
      transform: translateX(5%);
    }
  }

  .services {
    padding-left: 245px;
    padding-right: 245px;
  }

  .testimonials {
    padding-left: 245px;
    padding-right: 245px;

    .testimonials-desktop {
      display: block;
    }

    .testimonials-mobile {
      display: none;
    }

    &__paragraph-text-light {
      width: 40%;
    }

    &__carousel {
      height: 532px;
    }

    .carousel {
      &-inner {
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: row;
        position: relative;
      }

      &__list {
        height: 500px;
        flex: 0 1 32%;
        position: relative;
      }

      &__timeline {
        height: 100%;
        flex: 0 1 5%;
        position: relative;
      }

      &__item-content {
        flex: 0 1 63%;

        display: flex;
        flex-direction: column;
      }

      &__item {
        width: 100px;
        height: 100px;
        border-radius: 40%;
        position: absolute;

        &--first {
          animation: carouselImageActive 30s infinite;
          transition: right 0.5s ease, top 0.5s ease;
          transform: translate(0, -50%);
        }

        &--second {
          animation: carouselImageTop 30s infinite;
          transition: right 0.5s ease, top 0.5s ease;
          transform: translate(0, -50%);
        }

        &--third {
          animation: carouselImageTopLeft 30s infinite;
          transition: right 0.5s ease, top 0.5s ease;
          transform: translate(0, -50%);
        }

        &--fourth {
          animation: carouselImageBottomLeft 30s infinite;
          transition: right 0.5s ease, top 0.5s ease;
          transform: translate(0, -50%);
        }

        &--fifth {
          animation: carouselImageBottom 30s infinite;
          transition: right 0.5s ease, top 0.5s ease;
          transform: translate(0, -50%);
        }

        img {
          width: 100px;
          height: 100px;
        }
      }

      &__item-box {
        padding: 100px;
        position: relative;   

        &::before,
        &::after {
          display: inline-block;
          width: 24px;
          height: 2px;
          background-color: $color-white;
        }

        &::before {
          content: "";
          display: block;
          width: 100px;
          height: 100px;
          background: url("https://www.badinsoft.com/wp-content/themes/badin-soft-theme/assets/badin-photo/testimonials/home/quote-open.svg")
            no-repeat center center;
          background-size: contain;
          position: absolute;
        }
        &::after {
          content: "";
          display: block;
          width: 100px;
          height: 100px;

          background: url("https://www.badinsoft.com/wp-content/themes/badin-soft-theme/assets/badin-photo/testimonials/home/quote-close.svg")
            no-repeat center center;
          background-size: contain;
          position: absolute;
        }

        &::before {
          top: -40px;
        }

        &::after {
          bottom: 100px;
          right: 100px;
        }

        &--one {
          animation: swipeTextOne 30s infinite;
        }
      }

      &__paragraph-text-italic {
        margin-bottom: 32px;
      }

      .carousel__timeline {
        position: absolute;
        left: 35%;
        top: 100px;

        width: 3px;
        height: 250px;
        background-color: $color-timeline;
        border-radius: 1px;
        padding-top: 32px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .timeline-dot {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: $color-background-secondary;
          border: 2px solid $color-timeline;
          margin-bottom: 32px;

          &--one {
            animation: timelineDotOne 30s infinite;
          }

          &--two {
            animation: timelineDotTwo 30s infinite;
          }

          &--three {
            animation: timelineDotThree 30s infinite;
          }

          &--four {
            animation: timelineDotFour 30s infinite;
          }

          &--five {
            animation: timelineDotFive 30s infinite;
          }
        }
      }
    }
  }

  .hire-us {
    .projects {
      padding-left: 245px;
    }

    .button__blue {
      display: block;
    }
  }

  .positions {
    padding-left: 245px;
    padding-right: 245px;
  }

  .gallery {
    padding-left: 245px;
    padding-right: 32px;

    .gallery-mobile {
      display: none;
    }
    .gallery-desktop {
      display: block;
    }

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;

      border: 3px solid rgb(0, 153, 255);
    }

    &__grid-wrap {
      flex: 0 1 33%;
      position: relative;

      &--first,
      &--third {
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        //transform: translateY(-100px);
      }

      &--first {
        padding-right: 60px;
        gap: 40px;
      }

      &--third {
        padding-left: 60px;
        gap: 100px;
      }

      img {
        width: 100%;
      }
    }

    // /* animation */
    .appear {
      -webkit-transition: all 0.8s;
      transition: transform 1s ease; //all 0.8s;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }

    .appear.inview {
      -webkit-transform: none;
      transform: none;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
  }

  .experience {
    height: 500px;
    &__marquee:nth-child(3),
    &__marquee:nth-child(4) {
      display: none;
    }
    padding-bottom: 0;
    .section-title {
      width: 100%;
      text-align: center;
    }
  }

  .info {
    padding-left: 245px;
    padding-right: 32px;
  }
}
