// animated hamburger button

  @keyframes fadeIn {
   
    100% { opacity: 1; }
  }

@keyframes scroll-left {
  100% {
    translate: calc(-100% + $animation-parent-width);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
