// animated hamburger button

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

// experience marquee animation

@keyframes scroll-left {
  100% {
    translate: calc(-100% + $animation-parent-width);
  }
}

@keyframes scroll-right {
  100% {
    translate: calc(100% - $animation-parent-width);
  }
}

//hero composition animation

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//aurora hero animation
@keyframes fly1 {
  0% {
    transform: rotate(0) translate(200px) rotate(0);
  }
  50% {
    transform: rotate(-2turn) translate(600px) rotate(2turn);
  }
  100% {
    transform: rotate(0) translate(200px) rotate(0);
  }
}

@keyframes fly2 {
  0% {
    transform: rotate(0), translate(200px), rotate(0);
  }
  50% {
    transform: rotate(2turn), translate(600px), rotate(-2turn);
  }
  100% {
    transform: rotate(0), translate(200px), rotate(0);
  }
}

//testimonial image carousel
@keyframes carouselImageActive {
  0% {
    top: 45%;
    right: 40px;
    transform: scale(1.5);
  }

  15% {
    top: 45%;
    right: 40px;
    transform: scale(1.5);
  }

  20% {
    top: 80%;
    right: 75px;
    transform: scale(1);
  }

  35% {
    top: 80%;
    right: 75px;
    transform: scale(1);
  }

  40% {
    top: 70%;
    right: 250px;
    transform: scale(1);
  }

  55% {
    top: 70%;
    right: 250px;
    transform: scale(1);
  }

  60% {
    top: 40%;
    right: 270px;
    transform: scale(1);
  }

  75% {
    top: 40%;
    right: 270px;
    transform: scale(1);
  }

  80% {
    top: 15%;
    right: 150px;
    transform: scale(1);
  }

  95% {
    top: 15%;
    right: 150px;
    transform: scale(1);
  }

  100% {
    top: 45%;
    right: 40px;
    transform: scale(1.5);
  }
}

@keyframes carouselImageTop {
  0% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  15% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  20% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  35% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  40% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  55% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  60% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  75% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  80% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
  95% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }

  100% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
}

@keyframes carouselImageTopLeft {
  0% {
    top: 40%;
    right: 270px;
    transform: scale(1);
  }
  15% {
    top: 40%;
    right: 270px;
    transform: scale(1);
  }
  20% {
    top: 15%;
    right: 150px;
    transform: scale(1);
  }
  35% {
    top: 15%;
    right: 150px;
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  55% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  60% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  75% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  80% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  95% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  100% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
}

@keyframes carouselImageBottomLeft {
  0% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  15% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  20% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
  35% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
  40% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  55% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  60% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  75% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  80% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  95% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  100% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
}

@keyframes carouselImageBottom {
  0% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  15% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
  20% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  35% {
    transform: scale(1);
    top: 70%;
    right: 250px;
  }
  40% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
  55% {
    transform: scale(1);
    top: 40%;
    right: 270px;
  }
  60% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  75% {
    transform: scale(1);
    top: 15%;
    right: 150px;
  }
  80% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  95% {
    transform: scale(1.5);
    top: 45%;
    right: 40px;
  }
  100% {
    transform: scale(1);
    top: 80%;
    right: 75px;
  }
}

//testimonials timeline animation
@keyframes timelineDotOne {
  0% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  16% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  17% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }

  95% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }

  96% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  100% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
}

@keyframes timelineDotTwo {
  17% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  18% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  35% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  36% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
}

@keyframes timelineDotThree {
  36% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  37% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  54% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  55% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
}

@keyframes timelineDotFour {
  0% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }

  56% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  57% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  74% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  75% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }

  100% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
}

@keyframes timelineDotFive {
  0% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  75% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  76% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  95% {
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
  96% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
  100% {
    background-color: $color-background-secondary;
    border: 2px solid $color-timeline;
  }
}

//testimonials swipe text content

@keyframes swipeTextOne {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
    //transform: translate(0, 60px);
  }
  17% {
    //transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes swipeTextTwo {
  17% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  35% {
    //transform: translate(0, 0);
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  // 100% {
  //   opacity: 0;
  // }
}

@keyframes swipeTextThree {
  // 0% {
  //   opacity: 0;
  // }
  36% {
    //transform: translate(0, 0);
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  54% {
    //transform: translate(0, 0);
    opacity: 1;
  }
  55% {
    opacity: 0;
    //transform: translate(0, 40px);
  }
}

@keyframes swipeTextFour {
  55% {
    opacity: 0;
    //transform: translate(0, 60px);
  }
  56% {
    opacity: 1;
    //transform: translate(0, 60px);
  }
  73% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
  // 100% {
  //   transform: translate(0, -120px);
  //   opacity: 0;
  // }
}

@keyframes swipeTextFive {
  74% {
    opacity: 0;
    //transform: translate(0, 60px);
  }
  75% {
    opacity: 1;
    //transform: translate(0, 60px);
  }  
  100% {
    opacity: 1;
  }
}

//trustedby mobile scroll-left animation
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - $trustedby-gap));
  }
}

//trustedby desktop scroll-left animation
@keyframes trustedbyFadeIn {
  0% {
    //opacity: 0;
    translatey: 30%;
  }

  100% {
    opacity: 1;
    translatey: 0;
  }
}

@keyframes trustedbyFadeOut {
  0% {
    translatey: 0;
  }

  100% {
    translatey: 0;
  }
}
