*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;  
}

body,
p,
a,
ul,
li {
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
}

.container{
  position: relative;
  overflow: hidden;
}

