body,
p,
a,
ul,
li {
  font-size: 16px;
  @include font-primary-demi;
  color: $color-primary-text;
}

.paragraph-text {
  color: $color-primary-text;
}

.paragraph-text-light {
  color: $color-secondary-text;
}

.title-secondary {
  // @include font-secondary-italic;
  font-family: "Kurale", serif;
  font-style: italic;
  font-size: 48px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.25;
  color: $color-primary;
}

.heading-title {
  color: $color-primary;
}

.button {
  color: $color-white;

  &__blue{
    font-size: 20px;
    font-weight: bold;
  }
}

.header {
  color: $color-white;
}

.hero {
  &__title {
    @include font-primary-bold;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -1px;
    color: $color-white;
  }

  &__text {
    margin: 32px 0;
    color: $color-grey-dark-1;
    font-size: 20px;
    line-height: 1.6;
  }

  .button__header {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.47px;

    &--first {
      color: $color-primary;
    }

    &--second {
      color: $color-white;
    }
  }
}

.services {
  
  &__paragraph-text-light {
    color: $color-secondary-text-light-1;
    font-weight: 500;
  }

  .card {
    &__heading-subtitle-span {
      font-size: 16px;
      font-weight: bolder;

      &--blue {
        color: $color-blue;
      }

      &--red {
        color: $color-red;
      }

      &--green {
        color: $color-green;
      }
    }

    &__heading-title {
      font-size: 20px;
      font-weight: bolder;
      color: $color-primary;
    }
  }
}

.blog {
  &__card-title {
    font-size: 28px;
    font-weight: bolder;

    &--first {
      word-break: break-word;
      white-space: pre-line;
    }
  }

  &__card-link {
    font-weight: bolder;
    text-decoration: underline;
    line-height: 1.38;
    color: $color-primary;
  }
}

.testimonials {
  &__text {
    color: $color-grey-dark-1;
  }
}

.hire-us {
  .trustedby__heading-title {
    @include font-primary-demi;
    text-transform: uppercase;
  }
}

.positions {
  &__title-secondary {
    margin-bottom: 50px;
    padding-top: 131px;
  }

  &__heading-title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  &__text-content {
    font-size: 18px; //font-family futurapt-demi
    margin-bottom: 24px;
    color: $color-secondary-text-light-1;
  }

  .button__blue--arrow {
    font-size: 20px;
  }

  .button__blue--black {
    font-size: 20px;
    color: $color_lightgrey-1;
  }
}

.experience {
  color: $color_white;

  &__title-secondary {
    color: $color-background-secondary;
    margin-bottom: 50px;
  }
}

.info {
  &__info-link {
    font-size: 40px;
  }
}

.footer {
  &__heading-title {
    color: $color-white;
    font-size: 20px;
  }

  p,
  a,
  ul,
  li,
  span {
    color: $color-grey-dark-1;
  }

  i {
    font-size: 24px;
    color: $color-white;
  }
}
