body,
p,
a,
ul,
li {
  @include font-primary-demi;
  font-size: 16px;
  color: $color-primary-text;
}

.paragraph-text {
  line-height: 1.38;
  font-weight: bolder;
}

.paragraph-text-light {
  color: $color-secondary-text;
  font-weight: 700;
}

.paragraph-text-italic {
  @include font-primary-medium-italic;
  font-weight: bold;
  color: $color-primary;
}

.title-secondary {
  //@include font-secondary-italic;
  font-family: "Kurale", serif;
  font-style: italic;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.25;
  color: $color-primary;
}

.heading-title {
  font-weight: bolder;
  color: $color-primary;
}

.title-shadow::before {
  font-size: 50px;
  font-weight: 900;
  line-height: 0.74;
}

.button {
  color: $color-white;

  &__blue {
    font-size: 20px;
    font-weight: 700;
  }
}

.header {
  color: $color-white;
}

.hero {
  &__title {
    @include font-primary-bold;
    font-size: 48px;
    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: -1px;
    color: $color-white;
  }

  &__text {
    margin: 32px 0;
    color: $color-grey-dark-1;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
  }

  .button__header {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.47px;

    &--first {
      color: $color-primary;
    }

    &--second {
      color: $color-white;
    }
  }
}

.services {
  &__paragraph-text-light {
    color: $color-secondary-text-light-1;
  }

  .card {
    &__heading-subtitle-span {
      font-size: 16px;
      font-weight: bolder;

      &--blue {
        color: $color-blue;
      }

      &--red {
        color: $color-red;
      }

      &--green {
        color: $color-green;
      }
    }

    &__heading-title {
      font-size: 20px;
      font-weight: bolder;
      color: $color-primary;
    }
  }
}

.blog {
  &__card-title {
    font-size: 28px;
    font-weight: bolder;

    &--first {
      word-break: break-word;
      white-space: pre-line;
    }
  }

  &__card-link {
    font-weight: bolder;
    text-decoration: underline;
    line-height: 1.38;
    color: $color-primary;
  }
}

.testimonials {
  &__paragraph-text-light,
  .arrow-btn {
    font-size: 20px;
  }

  &__paragraph-text-light {
    padding-right: 50px;
    font-weight: 600;
  }

  .arrow-btn--right {
    color: $color-blue;
  }

  .carousel {
    &__heading-title {
      font-size: 24px;
    }

    &__heading-subtitle {
      color: $color-secondary-text;
      font-weight: bolder;
    }

    &__paragraph-text-italic {
      font-size: 20px;
    }
  }
}

.hire-us {
  .trustedby__heading-title {
    @include font-primary-demi;
    text-transform: uppercase;
    color: $color-secondary-text;
    font-size: 16px;
  }

  &__paragraph-text-light {
    font-size: 16px;
    line-height: 1.38;
  }
}

.positions {
  &__title-secondary {
    margin-bottom: 50px;
    padding-top: 131px;
  }

  &__heading-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 0.95;
    margin-bottom: 16px;
  }

  &__text-content {
    font-size: 18px; //font-family futurapt-demi
    margin-bottom: 24px;
    color: $color-secondary-text-light-1;
  }

  .button__blue--arrow {
    font-size: 20px;
  }

  .button__blue--black {
    font-size: 20px;
    color: $color_lightgrey-1;
  }
}

.experience {
  color: $color_white;
  font-size: 32px;

  &__title-secondary {
    color: $color-background-secondary;
    margin-bottom: 50px;
  }
}

.info {
  .info-text {
    font-size: 40px;
    text-decoration: underline;
    color: black;
  }
}

.footer {
  &__heading-title {
    color: $color-white;
    font-size: 20px;
  }

  p,
  a,
  ul,
  li,
  span {
    color: $color-grey-dark-1;
  }

  i {
    font-size: 20px;
    color: $color-white;
  }
}

@media screen and (min-width: 1024px) {
  .paragraph-text,
  .paragraph-text-light {
    font-size: 20px;
  }

  .title-secondary {
    font-size: 90px;
  }

  .heading-title {
    font-size: 24px;
  }

  .hero {
    h1 {
      font-size: 80px;
    }

    &__text {
      font-size: 22px;
      line-height: 1.55;
    }
  }  
}
