// sections

.campanies{
    width: 100%;
    margin-top: 100px;
    padding: 0 $padding-right 0 $padding-left;
}

.about{
    width: 100%;
    margin-top: 60px;
    padding: 0 $padding-right 0 $padding-left;
}

.services{
    width: 100%;
    margin-top: 150px;
    padding: 0 $padding-right 0 $padding-left;
    background-color: $color-background-secondary;
}

.blog{
    width: 100%;
    margin-top: 100px;
    padding: 0 $padding-right 0 $padding-left;
}

.testimonials{
    width: 100%;
    margin-top: 50px;
    padding: 0 $padding-right 0 $padding-left;
    background-color: $color-background-secondary;
}

.hire-us{
    width: 100%;
    margin-top: 50px;
    padding: 0 $padding-right 0 $padding-left;
    background-color: $color-background-secondary;
}