// sections

.hero{
    width: 100%;
}

.campanies{
    width: 100%;
    margin-top: 100px;    
}

.about{
    width: 100%;
    margin-top: 60px;        
}

.services{
    width: 100%;       
    background-color: $color-background-secondary;
}

.blog{
    width: 100%;
    margin-top: 100px;    
}

.testimonials{
    width: 100%;       
    background-color: $color-background-secondary;
}

.hire-us{
    width: 100%;
    margin-top: 100px;        
}

.positions{
    width: 100%;        
    background-color: $color-background-secondary;
}

.gallery{
    width: 100%;        
}

.experience{
    width: 100%;         
    background-image: linear-gradient($color-blue, $color-background-tertiary);   
}

.info{
    width: 100%;        
}

